html{
    scroll-behavior: smooth;
}
header{
    background-color: #ffea92;
    padding: 0%;
    font-family: 'Fredoka One', cursive;
    display: flex;
    flex-direction: column;
    top: 0%;
    align-items: center;    
}
.amor{
    margin-bottom: 45%;
}
h1{
    color: #ffea92;
    text-align: left;
    font-size: 2.5em;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Bebas Neue', cursive;
}
.vida{
    width: 80%;
    margin:auto;
    margin-top: 10%;
    margin-bottom: 10%; 
}
.logo{
    text-align: center;
}
.img_logo{
    width: 30%;
    margin-right: 50%;
}
.itens_menu{
    text-align: center;
}
.itens_menu li{
    font-size: 2em;
    line-height: 0.5;
}
.itens_menu a:link, .itens_menu a:visited {
    color: #280b45;
    text-decoration: none;
}

.itens_menu a:hover{
    background-color: #280b45;
    padding: 0.5%;
    color: white;
    border-radius: 10px
}
body{
    background-color: #280b45;

}
section{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
footer{
    background-color: #ffea92;
    margin-top: 5%;
    text-align: center;
    padding: 3%;
}
footer p{
    color: #280b45;
    font-family: 'Fredoka One', cursive;
    font-size: 1.5em;
}
.container{
    width: 80%;
    margin:auto;
    margin-top: 0%;
}
.frase{
    float:left;
    margin-left: 0%;
    margin-top: 8%;
    font-size: 4em;
    color: #ffea92;
    font-family: 'Fredoka One', cursive;
    width: 100%;
    text-align: center;
    text-indent: 0px;
}

/*Altera configuração quando a tela for maior que 601 px*/
@media screen and (min-width:901px) {

    header{
        background-color:#ffea92;
        flex-direction: row;
        padding: 1%;

    }
    .itens_menu{
        position: absolute;
        right: 1%;
        top: 8%;
        width: 80%;
    }

    .itens_menu ul li{
        display: inline;
        margin-left: 3%;
    }
    .img_logo{
        margin-right: 30%;
    }

}

/* Altera configuração quanod a tela está menor que 900px */
@media screen and (max-width:600px) {

    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
        }   
}      